label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}


input,label {
    margin: .4rem 0;
}
.preference {
    display: flex;
    justify-content:
    width: 60%;
    margin: .5rem;
}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

#exciting {
    background: linear-gradient(to bottom, #ffe8d4, #f69d3c);
    border: 1px solid #696969;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px black;
}

#exciting:before {
    content: "ℹ️";
    margin-right: 5px;
}

form.form-example {
    display: table;
}

div.form-example {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 10px;
}

label {
    padding-right: 10px;
}

body{
    background-color: powderblue;
}